html
  head
    title= "Sign in"
  body
    h1= "Sign in"
    form(action="/signin", method="post")
      input(type="text", name="username", placeholder="Username")
      input(type="password", name="password", placeholder="Password")
      input(type="submit", value="Sign in")
